PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# PostgreSQL Database Connection string
DATABASE_URL="postgresql://hunting_user:hunting_secure_pass@localhost:5432/hunting_projectors_db?schema=public"
